<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0", user-scalable="no" />
    <title>ModelStore</title>
    <link rel="stylesheet" href="~/css/contacts.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <section class="contact-page">
        <div class="contact-card">
            <i class="fas fa-phone"></i>
            <h3>НА ЗВ'ЯЗКУ</h3>
            <p>+38 (067) 555 31 20</p>
            <p>+38 (068) 987 30 25</p>
        </div>

        <div class="contact-card">
            <i class="fas fa-envelope"></i>
            <h3>єПИТАННЯ</h3>
            <p>model.store.2025@gmail.com</p>
        </div>

        <div class="contact-card">
            <i class="fas fa-map-marker-alt"></i>
            <h3>ЗАВІТАЙТЕ ДО НАС</h3>
            <p>Гранд Авеню 17, LA USA</p>
        </div>

        <div class="contact-card">
            <h3>СЛІДКУЙТЕ</h3>
            <div class="social-icons">
                <a href="https://facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>
                <a href="https://x.com" target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://youtube.com" target="_blank"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
    </section>
    
</body>
</html>