<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" , user-scalable="no" />
    <title>ModelStore</title>
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
</head>
<body>
    <div class="categories-grid">
        @if (ViewData["Categories"] is List<ModelStore.Models.Category> categories)
        {
            foreach (var category in categories)
            {
                <div class="category-card">
                    <a href="@Url.Action("AllProducts", "Home", new { categoryId = category.Id })" class="category-link">
                        <div class="image-container">
                            <img src="data:image/png;base64,@Convert.ToBase64String(category.Photo)" class="category-image">
                        </div>
                        <div class="category-body">
                            <h5 class="category-title">
                                @category.Name
                            </h5>
                        </div>
                    </a>
                </div>
            }
        }
    </div>
    <div class="empty-section">
        <div class="line-container">
            <div class="line"></div>
            <div class="gif-container">
                <img src="~/images/content.gif">
            </div>
            <div class="line"></div>
        </div>
        <p class="empty-text">Ви все прочитали 👍</p>
    </div>
    <script src="~/js/index.js"></script>
</body>
</html>