@model ModelStore.Models.Login
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0", user-scalable="no" />
    <title>ModelStore</title>
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
</head>
<body>
    <div id="error-message" class="error-modal"></div>
    <div class="login-container">
        <form method="post" class="login-form">
            <button type="submit" class="btn-login">
                <img src="~/images/arrow.png" />
            </button>
            <div class="form-group">
                <input type="text" id="Username" name="Username" placeholder="Ім'я користувача" required />
            </div>
            <div class="form-group">
                <input type="password" id="Password" name="Password" placeholder="Пароль" required />
                <div class="password-toggle">
                    <input type="checkbox" id="showPassword" />
                    <label for="showPassword">Показати пароль</label>
                </div>
            </div>
            <div class="form-actions">
                <div class="register-container">
                    <span class="register-text">Ще не маєте акаунту?</span>
                    <a asp-controller="Home" asp-action="Register" class="link-register">Зареєструватися</a>
                </div>
            </div>
        </form>
    </div>
    <script src="~/js/login.js"></script>
</body>
</html>