@model ModelStore.Models.Registration
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" , user-scalable="no" />
    <title>ModelStore</title>
    <link rel="stylesheet" href="~/css/register.css" asp-append-version="true" />
</head>
<body>
    <div id="error-message" class="error-modal"></div>
    <div class="registration-form-container">
        <form class="registration-form" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <input type="file" id="ProfilePicture" name="profilePicture" accept="image/*" />
            </div>
            <div class="form-group">
                <input type="text" id="FirstName" name="FirstName" placeholder="Ім'я" required oninput="allowOnlyLetters(event)" />
            </div>
            <div class="form-group">
                <input type="text" id="LastName" name="LastName" placeholder="Прізвище" required oninput="allowOnlyLetters(event)" />
            </div>
            <div class="form-group">
                <input type="text" id="MiddleName" name="MiddleName" placeholder="По батькові" oninput="allowOnlyLetters(event)" />
            </div>
            <div class="form-group">
                <input type="date" id="BirthDate" name="BirthDate" required placeholder="Дата народження" max="" />
            </div>
            <div class="form-group">
                <input type="tel" id="Phone" name="Phone" placeholder="+380XXXXXXXXX" required />
            </div>
            <div class="form-group">
                <input type="email" id="Email" name="Email" placeholder="Пошта" required />
            </div>
            <div class="form-group">
                <input type="text" id="Address" name="Address" placeholder="Адреса" />
            </div>
            <div class="form-group">
                <input type="text" id="Username" name="Username" placeholder="Ім'я користувача" required />
            </div>
            <div class="form-group">
                <div class="password-field-container">
                    <input type="password" id="Password" name="Password" placeholder="Пароль" required minlength="8" />
                    <button type="button" id="generatePasswordBtn" class="generate-password-btn">
                        <img src="~/images/key.png" alt="Generate Password Icon" />
                    </button>
                </div>
                <div class="password-toggle">
                    <input type="checkbox" id="showPassword" />
                    <label for="showPassword">Показати пароль</label>
                </div>
            </div>
            <div id="password-strength-container">
                <div id="password-strength-bar" class="strength-bar"></div>
            </div>
            <div class="form-actions">
                <button type="submit" class="submit-btn">Продовжити</button>
                <a asp-controller="Home" asp-action="Login" class="link-login">Увійти</a>
            </div>
        </form>
    </div>
    <script src="~/js/register.js"></script>
</body>
</html>